**Esse notebook tem como objetivo organizar os dados de saída dos CPs do arquivo CProp.txt gerado pelo software Mwfn.**

In [ ]:
import pandas as pd #importando a biblioteca Pandas
import re  #importando a biblioteca Regex
import warnings #importando a biblioteca warnings

warnings.filterwarnings('ignore') ## ocultando os warnings que aparecem em algumas células

In [ ]:
## Atribuindo os parâmetros do arquivo 'CPprop.txt', que serão requisitados utilizando a função 'compile 'o Regex nas variáveis abaixo

t = re.compile(r'\sLaplacian of electron density:\s')  #atribuindo à string "Laplacian of electron density:" na variável 't'

r = re.compile(r'\sCP\s')  #atribuindo à string "CP e Pair" na variável 'r'

a = re.compile(r'\sEigenvalues of Hessian:\s')  #atribuindo à string "Eigenvalues of Hessian:" na variável 'a'

p = re.compile(r'\sPosition\s')  #atribuindo à string "Position:" na variável 'p'

#criando listas vazias para serem preenchidas de acordo com a quantidade de variáveis utilizadas acima
parametros_cp=[]
autovalores_cp=[]
laplaciano_cp=[]
coordenadas_cp=[]

with open('CPprop.txt', 'r') as arquivo: #abrindo o 'CPprop.txt' com a varivável 'arquivo'

    for linha in arquivo: # varrendo as linhas do 'arquivo' com a variável 'linha'

        if r.search(linha):  # se na varivel 'linha' encontrar a string 'CP e Pair'  então
            # armazenando as informações do CP na variável 'cp' e limpando caracteres desnecessários com replace
            cp=linha.replace('CP', "").replace(" ", "").replace('--', '').replace('\n', '').replace('Type', '')

            # preenchendo a lista 'parametros_cp' com as informações da variável 'cp' com a função 'append'
            parametros_cp.append((cp))

        if a.search(linha): # se na variável 'linha' encontrar a strig 'Eigenvalues of Hessian:' então
             #armazenando e limpando as informações na varivel 'autovalor' e subdividindo as informações em sublistas com a função split
             autovalor=linha.replace('Eigenvalues of Hessian:','').split()

             autovalores_cp.append(autovalor) ## preenchendo a lista com as informações da variável autovalor

        if t.search(linha): # se na variável 'linha' encontrar a strig 'Laplacian of electron density:' então
             #armazenando e limpando as informações na varivel 'laplacian'
            laplacian=linha.replace('Laplacian of electron density:', '').replace(" ","").replace('\n','')

            ## preenchendo a lista 'laplaciano_cp' com as informações da variável 'laplacian' com a função 'append'
            laplaciano_cp.append((laplacian))

        if p.search(linha): # se na variável 'linha' encontrar a strig 'coordenadas_cp:' então
            #armazenando e limpando as informações na varivel 'position'
            position=linha.replace('Position (Bohr):','').replace('\n','').strip().split()

            ## preenchendo a lista 'coordenadas_cp' com as informações da variável 'position' com a função 'append'
            coordenadas_cp.append(position)

#printando as listas preenchidas apenas para verificar se todas a listas foram preenchidas corretamente com os seus respectivos parâmetros

#As listas preenchidas estão comentadas apenas para não ficar com  muitas informações na tela

#parametros_cp
#autovalores_cp
#laplaciano_cp
#coordenadas_cp

In [ ]:
## criando um df 'df_coord_bohr' a partir da lista preenchida 'coordenadas_cp' que conterá as informações das coordenadas em bohr dos CPs
df_coord_bohr = pd.DataFrame(coordenadas_cp, columns=['(X)', '(Y)', '(Z)'])
df_coord_bohr #printando o df 'df_coord_bohr'

                   (X)                (Y)                (Z)
0    13.84791308616164  -7.80267888935993  13.17328101644778
1    14.29698364629434  -6.25716772077409  13.00931041348981
2    13.91430647210240  -2.72372651539645  10.08023118162509
3    15.93317593476573   2.22145803346691  14.06903074129803
4    14.26694815860705  -4.63558336442445  11.50812208069995
..                 ...                ...                ...
337  23.31545021797999  21.14793348917281   4.01755934214828
338  25.87980959111979  21.59957821296088   2.72876561150617
339  26.07823091328610  20.35424820050758   0.11716306642201
340  24.30566710193376  21.47674596590555  -1.77634326510789
341  15.98142020533772  12.16795136598907  13.59847461246426

[342 rows x 3 columns]

In [ ]:
## criando um df 'df_auto_valor' a partir da lista preenchida 'autovalores_cp'  que conterá as informações dos autovalores de cada CP
df_auto_valor = pd.DataFrame(autovalores_cp, columns=['Lambda 1', 'Lambda 2', 'Lambda 3'])
df_auto_valor

              Lambda 1           Lambda 2           Lambda 3
0    -0.1643542224E+07  -0.1643538639E+07  -0.1643517727E+07
1    -0.5400776736E+00  -0.5006669967E+00   0.4148567985E+00
2    -0.4769299976E+00  -0.4749703954E+00   0.3631446976E+00
3    -0.3578813061E-04   0.1525385715E-04   0.3341108818E-03
4    -0.4479619913E+00  -0.4316828248E+00   0.3659822248E+00
..                 ...                ...                ...
337  -0.7504479552E+06  -0.7504373384E+06  -0.7504279160E+06
338  -0.7517208017E+06  -0.7517155539E+06  -0.7517030875E+06
339  -0.7519952488E+06  -0.7519929997E+06  -0.7519750912E+06
340  -0.1647548430E+07  -0.1647547333E+07  -0.1647512350E+07
341  -0.1645629757E+07  -0.1645628489E+07  -0.1645601928E+07

[342 rows x 3 columns]

In [ ]:
#criando um df 'df_laplacian' a partir da lista preenchida 'laplaciano_cp' que conterá as informações do laplaciano de cada CP
df_laplacian = pd.DataFrame(laplaciano_cp, columns=['Laplacian of electron density'])
df_laplacian

    Laplacian of electron density
0               -0.4930598590E+07
1               -0.6258878717E+00
2               -0.5887556955E+00
3                0.3135766084E-03
4               -0.5136625913E+00
..                            ...
337             -0.2251313210E+07
338             -0.2255139443E+07
339             -0.2255963340E+07
340             -0.4942608113E+07
341             -0.4936860175E+07

[342 rows x 1 columns]

In [ ]:
## criando um df  a partir da lista preenchida 'parametros_cp'  que conterá as informações desorganizadas do label do 'CP', 'Pair', 'Rank' e 'Signature'
df = pd.DataFrame(parametros_cp, columns = ['CP'])
df

             CP
0      1,(3,-3)
1      2,(3,-1)
2      3,(3,-1)
3      4,(3,+1)
4      5,(3,-1)
..          ...
337  338,(3,-3)
338  339,(3,-3)
339  340,(3,-3)
340  341,(3,-3)
341  342,(3,-3)

[342 rows x 1 columns]

In [ ]:
## Separando o df utilizando o comando split por meio do caracter ',' e gerando a coluna 'Pair' da coluna 'CP' do df anterior
df[['CP', 'Pair', '']]=df['CP'].str.split(',', expand=True)
df

      CP Pair
0      1   (3  -3)
1      2   (3  -1)
2      3   (3  -1)
3      4   (3  +1)
4      5   (3  -1)
..   ...  ...  ...
337  338   (3  -3)
338  339   (3  -3)
339  340   (3  -3)
340  341   (3  -3)
341  342   (3  -3)

[342 rows x 3 columns]

In [ ]:
## Concatenando as colunas 'Pair' e a coluna '' por meio do ';' para organizar a coluna 'Pair' do df
df["Pair"] = df["Pair"] + ";" + df[""]
df

      CP    Pair
0      1  (3;-3)  -3)
1      2  (3;-1)  -1)
2      3  (3;-1)  -1)
3      4  (3;+1)  +1)
4      5  (3;-1)  -1)
..   ...     ...  ...
337  338  (3;-3)  -3)
338  339  (3;-3)  -3)
339  340  (3;-3)  -3)
340  341  (3;-3)  -3)
341  342  (3;-3)  -3)

[342 rows x 3 columns]

In [ ]:
## deletando a última coluna [''] (não tem utilidade essa coluna)
df = df.drop('', axis=1)
df

      CP    Pair
0      1  (3;-3)
1      2  (3;-1)
2      3  (3;-1)
3      4  (3;+1)
4      5  (3;-1)
..   ...     ...
337  338  (3;-3)
338  339  (3;-3)
339  340  (3;-3)
340  341  (3;-3)
341  342  (3;-3)

[342 rows x 2 columns]

In [ ]:
## gerando a coluna 'Rank' e  a 'Signature' a partir da coluna 'Pair' do df
df[['Rank', 'Signature']]=df['Pair'].str.replace('(', '').str.replace(')', '').str.split(';', expand=True)
df

      CP    Pair Rank Signature
0      1  (3;-3)    3        -3
1      2  (3;-1)    3        -1
2      3  (3;-1)    3        -1
3      4  (3;+1)    3        +1
4      5  (3;-1)    3        -1
..   ...     ...  ...       ...
337  338  (3;-3)    3        -3
338  339  (3;-3)    3        -3
339  340  (3;-3)    3        -3
340  341  (3;-3)    3        -3
341  342  (3;-3)    3        -3

[342 rows x 4 columns]

In [ ]:
df ## printando df

      CP    Pair Rank Signature
0      1  (3;-3)    3        -3
1      2  (3;-1)    3        -1
2      3  (3;-1)    3        -1
3      4  (3;+1)    3        +1
4      5  (3;-1)    3        -1
..   ...     ...  ...       ...
337  338  (3;-3)    3        -3
338  339  (3;-3)    3        -3
339  340  (3;-3)    3        -3
340  341  (3;-3)    3        -3
341  342  (3;-3)    3        -3

[342 rows x 4 columns]

In [ ]:
## criando um dicionário 'type_cp'
type_cp={'(3;-3)': 'Nuclear',
         '(3;-1)': 'Ligação',
         '(3;+3)': 'Cela',
         '(3;+1)': 'Anel'}
## criando uma coluna ''Type of CP' a partir da coluna 'Pair' do df utilizando o dicionário 'tipo_cp'
df['Type of CP']=df['Pair'].map(type_cp)

In [ ]:
df=df[['CP','Rank', 'Signature' ,'Pair', 'Type of CP']] ## reorganizando as colunas do df

df

      CP Rank Signature    Pair Type of CP
0      1    3        -3  (3;-3)    Nuclear
1      2    3        -1  (3;-1)    Ligação
2      3    3        -1  (3;-1)    Ligação
3      4    3        +1  (3;+1)       Anel
4      5    3        -1  (3;-1)    Ligação
..   ...  ...       ...     ...        ...
337  338    3        -3  (3;-3)    Nuclear
338  339    3        -3  (3;-3)    Nuclear
339  340    3        -3  (3;-3)    Nuclear
340  341    3        -3  (3;-3)    Nuclear
341  342    3        -3  (3;-3)    Nuclear

[342 rows x 5 columns]

In [ ]:
## Concatenando os DataFrame 'df_auto_valor', 'df', 'df_laplacian, df_coord_bohr'
## passando como flag axis=1 (colunas)
df = pd.concat([df_auto_valor, df, df_laplacian, df_coord_bohr], axis=1)

## Reorganizando todas as colunas do df
df=df[['CP', '(X)', '(Y)', '(Z)', 'Rank', 'Signature', 'Pair', 'Type of CP', 'Lambda 1','Lambda 2','Lambda 3', 'Laplacian of electron density']]

In [ ]:
df ##printando o df com as colunas organizadas

,CP,(X),(Y),(Z),Rank,Signature,Pair,Type of CP,Lambda 1,Lambda 2,Lambda 3,Laplacian of electron density
0,1,13.84791308616164,-7.80267888935993,13.17328101644778,3,-3,(3;-3),Nuclear,-0.1643542224E+07,-0.1643538639E+07,-0.1643517727E+07,-0.4930598590E+07
1,2,14.29698364629434,-6.25716772077409,13.00931041348981,3,-1,(3;-1),Ligação,-0.5400776736E+00,-0.5006669967E+00,0.4148567985E+00,-0.6258878717E+00
2,3,13.91430647210240,-2.72372651539645,10.08023118162509,3,-1,(3;-1),Ligação,-0.4769299976E+00,-0.4749703954E+00,0.3631446976E+00,-0.5887556955E+00
3,4,15.93317593476573,2.22145803346691,14.06903074129803,3,+1,(3;+1),Anel,-0.3578813061E-04,0.1525385715E-04,0.3341108818E-03,0.3135766084E-03
4,5,14.26694815860705,-4.63558336442445,11.50812208069995,3,-1,(3;-1),Ligação,-0.4479619913E+00,-0.4316828248E+00,0.3659822248E+00,-0.5136625913E+00
...,...,...,...,...,...,...,...,...,...,...,...,...
337,338,23.31545021797999,21.14793348917281,4.01755934214828,3,-3,(3;-3),Nuclear,-0.7504479552E+06,-0.7504373384E+06,-0.7504279160E+06,-0.2251313210E+07
338,339,25.87980959111979,21.59957821296088,2.72876561150617,3,-3,(3;-3),Nuclear,-0.7517208017E+06,-0.7517155539E+06,-0.7517030875E+06,-0.2255139443E+07
339,340,26.07823091328610,20.35424820050758,0.11716306642201,3,-3,(3;-3),Nuclear,-0.7519952488E+06,-0.7519929997E+06,-0.7519750912E+06,-0.2255963340E+07
340,341,24.30566710193376,21.47674596590555,-1.77634326510789,3,-3,(3;-3),Nuclear,-0.1647548430E+07,-0.1647547333E+07,-0.1647512350E+07,-0.4942608113E+07
341,342,15.98142020533772,12.16795136598907,13.59847461246426,3,-3,(3;-3),Nuclear,-0.1645629757E+07,-0.1645628489E+07,-0.1645601928E+07,-0.4936860175E+07

In [ ]:
## criando uma lista 'parametros_float' com as colunas do df que serão convertidas em float
parametros_float=['Lambda 1', 'Lambda 2', 'Lambda 3', 'Laplacian of electron density','(X)', '(Y)', '(Z)']

## Obs: Não precisava de ter criado essa lista e esse laço que está abaixo,
## isso foi feito apenas para não ficar uma linha de código muito grande dentro do laço

for troca_float in parametros_float: ## varrendo a lista 'parametros_float'
  df[[troca_float]] = df[[troca_float]].astype(float) ## fazendo um casting em cada elemento da lista


## transformando as colunas 'CP', 'Rank' e 'Signature' em int
df[['CP','Rank','Signature']] = df[['CP','Rank','Signature']].astype(int)

In [ ]:
df ## printando o df finalizado

,CP,(X),(Y),(Z),Rank,Signature,Pair,Type of CP,Lambda 1,Lambda 2,Lambda 3,Laplacian of electron density
0,1,13.847913,-7.802679,13.173281,3,-3,(3;-3),Nuclear,-1.643542e+06,-1.643539e+06,-1.643518e+06,-4.930599e+06
1,2,14.296984,-6.257168,13.009310,3,-1,(3;-1),Ligação,-5.400777e-01,-5.006670e-01,4.148568e-01,-6.258879e-01
2,3,13.914306,-2.723727,10.080231,3,-1,(3;-1),Ligação,-4.769300e-01,-4.749704e-01,3.631447e-01,-5.887557e-01
3,4,15.933176,2.221458,14.069031,3,1,(3;+1),Anel,-3.578813e-05,1.525386e-05,3.341109e-04,3.135766e-04
4,5,14.266948,-4.635583,11.508122,3,-1,(3;-1),Ligação,-4.479620e-01,-4.316828e-01,3.659822e-01,-5.136626e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
337,338,23.315450,21.147933,4.017559,3,-3,(3;-3),Nuclear,-7.504480e+05,-7.504373e+05,-7.504279e+05,-2.251313e+06
338,339,25.879810,21.599578,2.728766,3,-3,(3;-3),Nuclear,-7.517208e+05,-7.517156e+05,-7.517031e+05,-2.255139e+06
339,340,26.078231,20.354248,0.117163,3,-3,(3;-3),Nuclear,-7.519952e+05,-7.519930e+05,-7.519751e+05,-2.255963e+06
340,341,24.305667,21.476746,-1.776343,3,-3,(3;-3),Nuclear,-1.647548e+06,-1.647547e+06,-1.647512e+06,-4.942608e+06
341,342,15.981420,12.167951,13.598475,3,-3,(3;-3),Nuclear,-1.645630e+06,-1.645628e+06,-1.645602e+06,-4.936860e+06

In [ ]:
df.info() ## mostrando as infomações do df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CP                             342 non-null    int64
 1   (X)                            342 non-null    float64
 2   (Y)                            342 non-null    float64
 3   (Z)                            342 non-null    float64
 4   Rank                           342 non-null    int64
 5   Signature                      342 non-null    int64
 6   Pair                           342 non-null    object
 7   Type of CP                     342 non-null    object
 8   Lambda 1                       342 non-null    float64
 9   Lambda 2                       342 non-null    float64
 10  Lambda 3                       342 non-null    float64
 11  Laplacian of electron density  342 non-null    float64
dtypes: float64(7), int64(3), object(2)
memory usage: 32.2+ KB

Exportando o arquivo CPprop.txt no formato de DataFrame no formato csv

In [ ]:
#Cp33pos=df[df['Pair']=='(3;-3)'] ## filtrando os CPs (3;-3)
#Cp33pos
#df.to_csv('nome_do_arquivo.csv')